@tailwind base;
@tailwind components;
@tailwind utilities;


/*
 #5FD88C - neon green
 #DCA7EE - pink
 #E981D9 - another pink

 */

 @font-face {
  font-family: "Consolas";
  src: url('/fonts/Consolas.ttf');
 }

 @font-face {
  font-family: 'ProximaNova'; 
  src: url('/fonts/ProximaNova.otf') format('opentype');
}


.content-color {
  @apply bg-[#2E2C45]
}

[data-theme="dark"] body {
  font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 400;
  @apply bg-[#2E2C45] text-white text-lg
}



[data-theme="dark"] .title {
  @apply text-[#5FD88C]
}


.header {
  @apply text-5xl font-bold
}

.header-highlight {
  color: #5FD88C;
}

.sub-header {
  @apply text-lg font-medium
}

.title-header {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;

  @apply my-8
}

.title-bar-text {
  color: #fff;
  font-family: 'Consolas';
  font-size: 0.85rem;
}


.secondary-bg-color {
  @apply bg-[#4A4772]
}

.container {
  @apply px-2 mx-auto
}

.main {
  width: calc(85vw - 16px);
  height: calc(85vh - 30px);
}


.button {
  @apply bg-[#E981D9] hover:bg-[#DCA7EE] text-white font-bold py-2 px-4 rounded h-full
}

.blog-image {
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .tabs {
    width: 95vw;
  }

  .sidebar {
    height: 100vh
  }

  .title-bar {
    width: 100vw;
  }

  .main {
    width: 95vw;
  }
}

/* @media screen and (max-width: 1024px) {
  .countdown-big {
    display: none;
  }

}

@media screen and (min-width: 1024px) {

  .countdown-small {
    display: none;
  }
} */

/* Define the default width for gallery-display */
.gallery-display {
  /* Default width */
  width: 30%;
}

/* Media query for screens with a maximum width of 767px (e.g., mobile devices) */
@media (max-width: 767px) {
  .gallery-display {
    width: 30%;
    /* Add any specific styles for mobile devices */
  }
}

/* Media query for screens with a minimum width of 768px and a maximum width of 1023px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .gallery-display {
    width: 80%;
    /* Add any specific styles for tablets */
  }
}

/* Media query for screens with a minimum width of 1024px and above (e.g., desktops) */
@media (min-width: 1024px) {
  .gallery-display {
    width: 50%;
    /* Add any specific styles for desktops */
  }
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
