@tailwind base;
@tailwind components;
@tailwind utilities;


/*
 #5FD88C - neon green
 #DCA7EE - pink
 #E981D9 - another pink

 */


 .content-color{
  @apply bg-[#2E2C45]
 }
[data-theme="dark"] body {
  font-family: 'Source Sans Pro', sans-serif;
  @apply bg-[#2E2C45] text-white
}

[data-theme="light-grey"] body {
  background-color: white;
  color: black;
}


[data-theme="dark"] .committee-card-title {
  @apply text-[#5FD88C]
}

[data-theme="light-grey"] .committee-card-title {
  @apply text-indigo-800
}


[data-theme="dark"] .card-bg {
  @apply content-color text-white
}

[data-theme="light-grey"] .card-bg {
  @apply bg-white
}

[data-theme="dark"] .card-title {
  @apply text-white
}

[data-theme="light-grey"] .card-title {
  @apply text-gray-800
}


[data-theme="dark"] .card-subtitle {
  @apply text-white
}

[data-theme="light-grey"] .card-subtitle {
  @apply text-gray-600
}


.title-bar-text {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85rem;
}

.nav-item {
  @apply ml-0 p-2 mt-2 text-center flex gap-5 w-full justify-center
}

.nav-text {
  @apply hidden sm:block text-white
}

.main {
  height: 85vh;
}

.primary-bg-color {
  @apply bg-[#4A4772]
}

.container {
  @apply px-4 w-full mx-auto
}

.big-nav {
  @apply hidden lg:block h-full sm:w-[200px] left-0 top-0 flex flex-col bg-[#4A4772] gap-5 p-3 pl-0
}

.nav_right_item {
  @apply flex flex-row ml-auto gap-4 mr-2 p-2
}

.swiper {
  width: 50%;
  height: 50%;
}

.shape-container {
  @apply relative w-full h-28 sm:w-1/2 sm:h-44
}


.shape-left {
  width: 100%;
  height: 100%;
  background-color: rgba(185, 180, 228, 1);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  /* Adjust the polygon points to create the desired shape */
}

.shape-right {
  width: 100%;
  height: 100%;
  background-color: rgba(185, 180, 228, 1);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  /* Adjust the polygon points to create the desired shape */
}


.text-overlay {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl text-center px-4
}

@media screen and (max-width: 900px) {
  .tabs {
    width: 78vw;
  }
}

@media screen and (max-width: 640px) {
  .tabs {
    width: 95vw;
  }

  .sidebar {
    height: 100vh
  }

  .title-bar{
    width: 100vw;
  }
}